<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.yardsale"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:name="com.codepath.yardsale.dao.ParseApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
    
        
        
        
        
        <activity
            android:name=".SearchResultActivity"
            android:label="@string/app_name" >
           
            
        </activity>
        <activity
            android:name=".ViewPostActivity"
            android:label="@string/title_activity_view_post" >
        </activity>
        <activity
            android:name=".CreatePostActivity"
            android:label="@string/title_activity_create_post" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name=".SearchCriteriaActivity"
            android:label="@string/title_activity_search_criteria" >
        </activity>
        <activity
            android:name=".ManagePostsActivity"
            android:label="@string/title_activity_manage_posts" >
        </activity>
    </application>

</manifest>